body, html {
    background: url('../img/opole.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    height: 100%;
    width: 100%;
}

p {
    font-size: 110%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Główny Navbar */

#nav {
    z-index: 99;
    right: 0;
    left: 0;
}

.navbar {
    margin-bottom: 0px;

    background: rgba(76,76,76,1);
    background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,0.94) 60%, rgba(28,28,28,0.91) 91%, rgba(19,19,19,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,76,76,1)), color-stop(0%, rgba(44,44,44,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,0.94)), color-stop(91%, rgba(28,28,28,0.91)), color-stop(100%, rgba(19,19,19,0.9)));
    background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,0.94) 60%, rgba(28,28,28,0.91) 91%, rgba(19,19,19,0.9) 100%);
    background: -o-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,0.94) 60%, rgba(28,28,28,0.91) 91%, rgba(19,19,19,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,0.94) 60%, rgba(28,28,28,0.91) 91%, rgba(19,19,19,0.9) 100%);
    background: linear-gradient(to bottom, rgba(76,76,76,1) 0%, rgba(44,44,44,1) 0%, rgba(0,0,0,1) 0%, rgba(17,17,17,0.94) 60%, rgba(28,28,28,0.91) 91%, rgba(19,19,19,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );

    -webkit-box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 19px 7px rgba(0,0,0,0.75);

    border-style: none;
    border-radius: 0;
}

.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}

.navbar ul {
    font-size: 125%;
}

/* Kolor tekstu itemów Navbara */

.navbar-nav > li > a {
    color: rgba(255,255,255,0.8) !important;
}

.navbar-nav > li > a:hover {
    color: rgba(255,255,255,1) !important;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* Kolor aktywnego itemu Navbara */

.navbar-nav > .active > a {
    color: rgba(255,255,255,1) !important;
}

/* Tło rozwijanej części */

.dropdown-menu {
    background: rgba(76,76,76,0.9);
}

.dropdown-menu > li > a {
    color: rgba(255,255,255,0.8);
    font-size: 90%;
}

.dropdown-menu > .active > a {
    background-color: black;
}

.dropdown-menu > .active > a:hover {
    background-color: black;
}

.dropdown-menu > li > a:hover {
    color: rgba(255,255,255,1) !important;
    background-color: rgba(255,255,255,0);
}

.no-padding{
    padding-left:0;
    padding-right:0;
}

/* Miniatury zdjęć z podpisami */

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.thumbnail {
    height: 100%;
    margin-bottom: 15px;
}

.caption p, a {
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.caption a {
    margin: 0 auto;
    display: block;
}

.thumbMargin {
    margin-bottom: 15px;
}

/* Kolejne sekcje strony */

.container-full {
    margin: 0 auto;
    width: 100%;
}

#section0 {
    padding-top:50px;
    height:50px;
    background-color: white;
}

#section1 {
    min-height:100%;
    color: rgb(48,50,59);
    background-color: white;
}

#section2 {
    min-height:100%;
    color: rgb(48,50,59);
    background-color: white;
}

#section3 {
    min-height: 100%;
    color: rgb(48,50,59);
    background-color: white;
}

#section4 {
    color: rgb(48,50,59);
    background-color: white;
}

#section5 {
    min-height: 100%;
    color: rgb(48,50,59);
    background-color: white;
}

/* Wersja mobilna */

@media only screen and (max-width: 600px) {

    /* Obrazek w nagłówku */

    #bg_div {
        display: none;
    }

    /* Navbar */

    #nav {
        position: fixed;
        top: 0;
    }

    /* Sekcje strony */

    #section1 {
        padding-top:50px;
        padding-bottom: 100px;
        min-height:100%;
        color: rgb(48,50,59);
        background-color: white;
    }

    #section2 {
        padding-bottom: 100px;
    }

    #section3 {
        padding-bottom: 100px;
    }

    #section4 {
        padding-bottom: 100px;
        height: auto;
    }

    #section5 {
        padding-bottom: 100px;
    }
}

/* Wersja desktopowa */

@media only screen and (min-width: 601px) {

    /* Navbar */

    #nav {
        position: absolute;
        top: auto;
        bottom: 0;
    }

    .sticky {
        position: fixed !important;
        top: 0 !important;
        bottom: auto !important;
        width: 100%;
    }

    /* Sekcje strony */

    #section1 {
        padding-top:50px;
        padding-bottom: 80px;

        -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 90%);
    }

    #section2 {
        padding-top:250px;
        padding-bottom: 300px;

        -webkit-clip-path: polygon(
                0 10%,
                100% 10vw,
                100% 90%,
                0 calc(100% - 10vw));
        clip-path: polygon(0 10%, 100% 10vw, 100% 90%, 0 calc(100% - 10vw));
    }

    #section3 {
        padding-top:200px;
        padding-bottom: 200px;

        -webkit-clip-path: polygon(
                0 10%,
                100% 10vw,
                100% calc(100% - 10vw),
                0 90%);
        clip-path: polygon(0 10%, 100% 10vw, 100% calc(100% - 10vw), 0 90%);
    }

    #section4 {padding-top:125px;
        min-height: 100%;

        -webkit-clip-path: polygon(0 10%, 100% 10vw, 100% calc(100% - 10vw), 0 90%);
        clip-path: polygon(0 10%, 100% 10vw, 100% calc(100% - 10vw), 0 90%);
    }

    #section5 {
        padding-top:200px;
        padding-bottom: 100px;

        -webkit-clip-path: polygon(0 10%, 100% 10vw, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 10vw, 100% 100%, 0 100%);
    }

}