@import url('https://fonts.googleapis.com/css?family=Numans');

/* Obrazek startowy */

#bg_div {
    background: url('../img/bg.jpg') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;
}

/* Formularz logowania / rejestracji */

.container{
    padding: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.card{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(0,0,0,0.8) !important;
}

.card-body{
    padding: 0px 10px 0px 10px;
    height: 100%;
}

.card-header h3{
    color: white;
    padding-left: 10px;
    margin-bottom: 30px;
}

.card-footer {
    padding-left: 10px;
    margin-top: 20px;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 150px;
    margin-top: 30px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.form-control {
    margin-bottom: 20px;
}

/* Aktualności, Galeria, Zawodnicy */

.news, .galleries, .members{
    min-height:100%;
    color: rgb(48,50,59);
    background-color: white;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.news, .gallery, .members h1 {
    margin-bottom: 50px;
}

.news img {
    float: right;
    max-height: 200px;
}

.members {
    text-align: center;
}

.members img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

table td {
    vertical-align: middle !important;
}

/* Panel użytkownika */

.user_panel{
    min-height:100%;
    color: rgb(48,50,59);
    background-color: white;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.panel_window{
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    -webkit-box-shadow: 0px 6px 34px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 34px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 34px -1px rgba(0,0,0,0.75);
}

#sections {
    padding: 40px;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 200px;
}

.button:hover {
    background-color: rgba(235, 235, 235, 0.9);
}

/* Panel zarządzania aktualnościami */

.newsButtons button {
    border: none;
    color: black;
    padding: 6px 2px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100px;
}

/* Galeria zdjęć */

.modal-dialog {
    height: 75%;
    max-height: 75vh;
}

/* Wersja desktopowa */

@media only screen and (min-width: 601px) {

    /* Główny Navbar */

    #nav {
        position: relative;
        top: auto;
        bottom: 0;
    }
}